.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.js-toc-content {
  flex: 3;
  max-width: 800px;
}

.toc-sticky {
  flex: 1;
  position: sticky;
  top: 20px;
  max-width: 250px;
  font-size: 0.9rem;
  /* 모바일에서는 숨기기 */
  display: none;
}

@media (min-width: 1024px) {
  .toc-sticky {
    display: block;
  }
}
