---
layout: default
---

<small>{{ page.date | date: "%Y-%m-%d" }}</small>
<h1>{{ page.title }}</h1>

{{ content }}

<hr />
<a href="{{ site.baseurl }}/">← 메인으로</a>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.27.0/tocbot.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.27.0/tocbot.min.js"></script>

<div class="wrapper">
  <aside class="js-toc toc-sticky"></aside>

  <article class="js-toc-content">{{ content }}</article>
</div>

<script>
  tocbot.init({
    tocSelector: ".js-toc", // TOC를 넣을 선택자
    contentSelector: ".js-toc-content", // 본문 내용 선택자
    headingSelector: "h1, h2, h3", // 목차로 만들 헤더 수준
  });
</script>
